/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFA726;
    color: #fff;
    line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
    font-size: 1.3rem;
}

ul {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

ul1 {
    text-align: center;
    font-size: 1.1rem;
}

li {
    text-align: left;
}

img {
    width: 23%;
}

.btn {
    display: inline-block;
    background-color: #6c4101;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #FFA726
}

.hero {
    background-color: #0c0c0b;
    padding: 80px 0;
    text-align: center;
}

section {
    padding: 60px 0;
    text-align: center;
}

section.contact {
    background-color: #ee7e22;
}

.footer {
    background-color: #c15700;
    padding: 30px 0;
    text-align: center;
}

@media (max-width: 768px) {
    header.hero h1 {
        font-size: 2rem;
    }

    header.hero p {
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }
}